body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  object-fit: cover;
}
input,
textarea,
button {
  font-family: inherit;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.team-container,
.portfolio-container,
.advantages-container {
  padding: 120px 0;
}
.logo {
  color: var(--iris, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo .logo-style {
  color: var(--navyblue, #2e2f42);
}
.nav-link {
  color: var(--navyblue, #2e2f42);
  font-weight: 500;
  line-height: 1.5;
  display: inline-block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  color: #404bbf;
}
.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link:hover::after,
.nav-link:focus::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.address-container {
  font-style: normal;
}
.address-container .address-link {
  color: var(--slate, #434455);
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-container .address-link:hover,
.address-container .address-link:focus {
  color: var(--ocean, #404bbf);
}
.order-container {
  background-color: var(--navyblue, #2e2f42);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleoffice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-position: center;
  margin: 0 auto;
}
.order-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}
.border-button {
  background-color: var(--iris, #4d5ae5);
  cursor: pointer;
  color: var(--white, #fff);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  display: block;
  border: none;
  margin: 48px auto 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.border-button:hover,
.border-button:focus {
  background-color: var(--ocean, #404bbf);
}
.advantages-item .icon {
  fill: #2e2f42;
}
.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}
.social-media-list {
  display: flex;
  gap: 24px;
  flex-shrink: 0;
  justify-content: center;
  margin-top: 8px;
}
.social-media-list .social-media-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}

.social-media-footer .social-media-link:hover,
.social-media-footer .social-media-link:focus {
  background-color: #31d0aa;
}

.icon-social {
  fill: #f4f4fd;
}

.advantages-item,
.team-item,
.portfolio-item {
  color: var(--navyblue, #2e2f42);
}
.advantages-item-title,
.team-item-title,
.portfolio-item-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantages-text,
.team-item-text,
.portfolio-item-text {
  line-height: 1.5;
  color: #434455;
}
.team-item-title,
.team-item-text {
  text-align: center;
}
.team-container {
  background-color: var(--cloud, #f4f4fd);
}
.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.advantages-title,
.team-title,
.portfolio-cont-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-item {
  background: var(--white, #fff);
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.adves-container {
  background-color: var(--navyblue, #2e2f42);
}
.adves-text {
  color: var(--cloud, #f4f4fd);
  line-height: 1.5;
  width: 264px;
}
.adves-container .logo-style {
  color: var(--cloud, #f4f4fd);
}
.header-container {
  border-bottom: 1px solid #e7e9fc;
}
.portfolio-item {
  border: 1px solid #f4f4fd;
}

.header-container {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .nav-list,
.header-container .address-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.order-container {
  padding: 188px 0;
}
.advantages-list,
.team-list,
.portfolio-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.advantages-item {
  flex-basis: calc((100% - 72px) / 4);
}
.team-title,
.portfolio-cont-title {
  margin-bottom: 72px;
}
.team-item-descr {
  padding: 32px 0;
}
.portfolio-item-descr {
  padding: 32px 16px;
}
.portfolio-list {
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adves-container {
  padding: 100px 0;
}
.adves-container .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.adves-logo-text {
  margin-right: 120px;
}

.portfolio-item-pic {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translatey(100%);
  color: #f4f4fd;
  padding: 40px 32px;
  padding-right: 32px;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.adves-container .container {
  align-items: baseline;
  display: flex;
}
.social-media-footer .social-media-list {
  gap: 16px;
  margin-top: 0;
}
.social-media-footer {
  margin-right: 80px;
}
.soc-md-text,
.subscribe-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-form .form-mail {
  width: 264px;
  height: 40px;
  background-color: #2e2f42;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 24px;
}
.footer-form {
  display: flex;
}

.footer-form .form-mail::placeholder {
  font-size: 12px;
  color: #ffffff;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
}
.subsc-butn {
  background-color: var(--iris, #4d5ae5);
  cursor: pointer;
  color: var(--white, #fff);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  gap: 16px;
  /* position: relative; */
}
/* .icon-subscribe {
  position: absolute;
  top: 8px;
  right: 24px;
} */
/* .icon-cont {
  margin-left: 16px;
} */
/* .icon-cont {
  display: flex;
  gap: 16px;
} */
.subsc-butn:hover,
.subsc-butn:focus {
  background-color: var(--ocean, #404bbf);
}

/* input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
} */

.form-container {
  position: absolute;
  top: 80px;
  right: 50%;
  background-color: #ffffff;
  padding: 72px 24px 24px 24px;
}
.form-modal {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input-wrap {
  position: relative;
}
.person-icon {
  position: absolute;
  top: 11px;
  left: 16px;
}
.phone-icon,
.email-icon {
  position: absolute;
  top: 8px;
  left: 16px;
}

.input-field {
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  outline: none;
}

.input-field:focus,
.textarea-field:focus {
  border: 1px solid #4d5ae5;
  color: #4d5ae5;
}


.input-field:focus + .person-icon,
.input-field:focus + .phone-icon,
.input-field:focus + .email-icon {
  fill: #4d5ae5;
}

.textarea-field {
  padding-left: 16px;
  padding-top: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  resize: none;
  outline: none;
}

textarea::placeholder,
.form-label,
.checkbox-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  Color:#8E8F99;
}
textarea::placeholder{
  color:rgba(46, 47, 66, 0.4)
}

.policy-link {
line-height: 1.33;
color: #4D5AE5;
text-decoration: underline;
}

.form-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.form-label {
  margin-bottom: 4px;
}

.form-button {
  background-color: var(--iris, #4d5ae5);
  cursor: pointer;
  color: var(--white, #fff);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: var(--ocean, #404bbf);
}

.close-container {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  position: absolute;
  right: 24px;
  top: 24px;
  margin-bottom: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) Ð± fill 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.close-container:hover,
.close-container:focus {
  background-color: #404bbf;
  fill: #fff;
}
/* .checkbox-container{
  position:relative;
} */
.checkbox-field {
  position: absolute;
  opacity: 0;
}
/* .checkbox-label::before {
  content: "";
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
} */




